@import "../../styles/mediaQueries";

.staff-sec{
	.col-lg-3{
		margin: 10px 0px;
		
			.dataTable {
			    a{
					.darkblue-sec {
						    padding: 10px;
						    img {
							    width: 90px;
							    height: 90px;
							    border-radius: 100px;
							    object-fit: cover;
							    margin-bottom: 10px;
							}
							h4 {
							    font-size: 20px;
							    font-weight: 600;
							    color: #fff;
							}
							p{
								color: #fff;
							}
							.team-detials {
							    display: flex;
							    justify-content: space-between;
							    background: #05062e;
							    padding: 10px;
							    flex-wrap: wrap;
							    .team-detials-inner {
								    flex: 0 0 100%;
								    display: flex;
								    justify-content: space-between;
								    flex-wrap: wrap;
								    .team-desc {
									    flex: 0 0 50%;
									    max-width: 50%;
									    text-align: left;
									    p {
										    font-size: 14px;
										    margin: 0;
										    &.yellow-text {
											    color: #F0810F;
											}
										}
										&.text-right{
											text-align:right;
										}
									}
								}
								.team-phone-details {
								    width: 100%;
								    text-align: left;
								    margin-top: 20px;
								}
						}
					
					}
				}
			}
	}
	form{
		.search-btn-outer {
		    position: relative;
		    max-width: 540px;
		    input {
			    background: #000491;
			    border-radius: 60px;
			}
			svg {
			    position: absolute;
			    top: 11px;
			    right: 15px;
			    font-size: 27px;
			    color: #F0810F;
			    transition: 0.4s all ease-in-out;
			    cursor:pointer;
			    &:hover{
			    	color:#fff;
			    }
			}
		}
	}
	.search-plan-outer {
	    display: flex;
	    justify-content: end;
	    button {
		    height: 50px;
		    padding: 0px 22px;
		    border-radius: 30px;
		    margin: 0px 10px;
		    font-size: 20px;
		    background: #000491;
		    border: none;
		    transition: 0.4s all ease-in-out;
		    white-space: nowrap;
		    &:hover{
		    	background: #fff;
		    	color: #000491;
		    }
		    &.active{
		    	background: #fff;
		    	color: #000491;
		    }
		}
		.select-arrow {
		    position: relative;
		    select {
			    height: 50px;
			    padding: 0px 22px;
			    border-radius: 30px;
			    margin: 0px 10px;
			    font-size: 20px;
			    background: #000491;
			    border: none;
			    transition: 0.4s all ease-in-out;
			    color:#fff;
			    max-width:210px;
			    border:none;
			    box-shadow:none;
			}
			svg {
			    position: absolute;
			    top: 19px;
			    right: 7px;
			}
		}
		
		.dropdown {
		    height: 50px;
		    padding: 0px 22px;
		    border-radius: 30px;
		    margin: 0px 10px;
		    font-size: 20px;
		    background: #000491;
		    border: none;
		    transition: 0.4s all ease-in-out;
		    display: flex;
		    align-items: center;
		    .dropdown-menu {
			    background: #3734A9;
			    padding: 10px;
			    border-radius: 10px;
			    a {
				    font-size: 19px;
				    color: #fff;
				    padding: 0px 6px;
				    background: transparent;
				}
			}
		}
	}
	.profile-edit-outer{
		.profile-edit {
		    display: flex;
		    align-items: center;
		    .profile-circle {
			    position: relative;
			    margin-right: 30px;
			    .profile-img {
				    width: 150px;
				    height: 150px;
				    border-radius: 50%;
				}
				svg {
				    position: absolute;
				    color: #F0810F;
				    bottom: 15px;
				    right: 3px;
				    font-size: 30px;
				}
				.form-control {
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    top: 0;
				    left: 0;
				    opacity: 0;
				    z-index: 1;
				}
			}
			h4 {
			    font-size: 38px;
			    font-weight: 400;
			}
		}
	}
	.staff-filter {
	    select{
	        text-transform: capitalize;
			option {
			   text-transform: capitalize;
			}
	    }
	}
	
}
