<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank Interactive Nightlife</title>
    <link rel="stylesheet" href="https://use.typekit.net/nzh0bps.css">
</head>

<body style="max-width: 600px;margin:  0 auto;box-sizing: border-box;font-family: itc-avant-garde-gothic-pro, sans-serif;">
    <div style="width: 100%;float:  left;background-color: #020551;padding: 0;">
        <div style="background-color:#020551;text-align: center;width: 100%;float:left;padding: 20px 0 0;color: #707070;">
            <img src="https://portaltoascension.xcelanceweb.com/logo.png" style="width: 100px;" />
            <h2 style="font-size: 31px;font-weight: 800;color:#fff;margin: 30px 0 50px;">Hi Club Onwer!</h2>
            <p style="font-size: 17px;line-height: 28px;color:#fff;max-width: 330px;margin: 20px auto;">Your subscription has been canceled!</p>
        </div>
        <footer style="background-color: #b38533;width: 100%;float: left;text-align: center;padding: 10px 0">
            <div style="width:100%;float: left; text-align: center; color: #fff;font-size: 15px;">
                <p>&copy; 2022 The Blank All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>

</html>