@import "../../styles/mediaQueries";

.events-sec{
	.outer-form{
		.form-control {
	        background: #3734A9;
	    }
	}
	form{
		.search-btn-outer {
		    position: relative;
		    max-width: 540px;
		    input {
			    background: #000491;
			    border-radius: 60px;
			}
			svg {
			    position: absolute;
			    top: 11px;
			    right: 15px;
			    font-size: 27px;
			    color: #F0810F;
			    transition: 0.4s all ease-in-out;
			    cursor:pointer;
			    &:hover{
			    	color:#fff;
			    }
			}
		}
	}
	.search-plan-outer {
	    display: flex;
	    justify-content: end;
	    button {
		    height: 50px;
		    padding: 0px 22px;
		    border-radius: 30px;
		    margin: 0px 10px;
		    font-size: 20px;
		    background: #000491;
		    border: none;
		    transition: 0.4s all ease-in-out;
		    &:hover{
		    	background: #fff;
		    	color: #000491;
		    }
		    &.active{
		    	background: #fff;
		    	color: #000491;
		    }
		}
		.select-arrow {
		    position: relative;
		    select {
			    height: 50px;
			    padding: 0px 22px;
			    border-radius: 30px;
			    margin: 0px 10px;
			    font-size: 20px;
			    background: #000491;
			    border: none;
			    transition: 0.4s all ease-in-out;
			    color:#fff;
			    max-width:210px;
			    border:none;
			    box-shadow:none;
			}
			svg {
			    position: absolute;
			    top: 19px;
			    right: 7px;
			}
		}
		
		.dropdown {
		    height: 50px;
		    padding: 0px 22px;
		    border-radius: 30px;
		    margin: 0px 10px;
		    font-size: 20px;
		    background: #000491;
		    border: none;
		    transition: 0.4s all ease-in-out;
		    display: flex;
		    align-items: center;
		    .dropdown-menu {
			    background: #3734A9;
			    padding: 10px;
			    border-radius: 10px;
			    a {
				    font-size: 19px;
				    color: #fff;
				    padding: 0px 6px;
				    background: transparent;
				}
			}
		}
	}
	.delete_sec{
	   display:flex;
	   .text-left{
	      flex : 0 0 90%;
	   }
	}
	.upcoming-event-sec{
		.upcoming-event-outer {
			h5 {
			    font-size: 28px;
			    font-weight: 500;
			    margin-bottom: 30px;
			    @include responsive(big-desktop) {
		          font-size: 25px;
		        }
			    .nav-link {
				    color: #F0810F;
				    font-size: 24px;
				    @include responsive(big-desktop) {
			          font-size: 20px;
			        }
				}
			}
		}
		.upcoming-event-boxes {
		    background: #020551;
		    border-radius: 15px;
		    overflow: hidden;
		    .upcoming-inner-boxes {
			    padding: 15px;
			    h5 {
				    font-size: 20px;
				}
				p {
				    font-size: 16px;
				}
				span {
				    font-size: 14px;
				    padding: 4px 16px;
				    line-height: 100%;
				    display: inline-block;
				    border-radius: 5px;
				}

			}
		}
		a {
		    color: #fff;
			&:hover{
			    color: #fff; 
			}
		}
		.upcoming-event-boxes {
		    img {
			    height: 200px;
			    object-fit: cover;
			}
		}
		.upcoming-inner-boxes {
		    h5 {
			    width: 98%;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
			
			
		}
	}


}
.create-events-sec{
	.outer-form {
	    .master-card-input{
	        .StripeElement{

	            display: block;
			    margin: 10px 0 20px 0;
			    max-width: 500px;
			    padding: 10px 14px;
			    font-size: 1em;
			    border: 0;
			    outline: 0;
			    border-radius: 4px;
			    background: #000361;

	        }
	    }
	    .react-datepicker-wrapper{

	        input{
		        border: none;
			    border-radius: 3px;
			    background: #000361;
			    height: 50px;
			    color: #fff;
			    width:100%;
			    padding: 1px 8px;
		    }

	    }
	    .date_div{

	        .react-datepicker {
			    position: absolute;
			    z-index: 9999;
			}

	    }
	    
	    
	}
	.outer-form-plan{
		.img-performer{
			img{
				width:70px;
				height:70px;
				object-fit: cover;
    			border-radius: 100%;
			}
		}
		
	}
	.benefit_main {
		svg {
		    font-size: 30px;
		    margin-top: 46px;
		    color: #f0810f;
		    cursor:pointer;
		}
	}
	.edit-image-sec{
		position:relative;
		img{
			height: 200px;
			object-fit: cover;
			border-radius: 10px;
		}
		.red-btn {
		    position: absolute;
		    bottom: 11px;			    
		    right: 	10px;			
			color: #fff;
			background: red;
			padding: 3px;
			font-size: 27px;
			border-radius:10px;
			cursor:pointer;
		}
	}
}

.view-events-sec{
	.view-image {
		img {
		    border-radius: 10px;
		}
	}
	.view-right-content{
		.view-detail-sec {
			h4 {
			    font-size: 22px;
			}
		}
	}
	.view-pr {
		img {
		    width: 70px;
		    height: 70px;
		    margin-right: 14px;
		    border-radius: 70px;
		}
	}
	.bk-tag {
	    display: inline-block;
	    margin-left: 11px;
	    padding: 5px 10px;
	    border-radius: 7px;
	    line-height: 100%;
	}
}
